.header{
    display: flex;
    justify-content: space-between;
    border : 1px solid black;
}
/* .body{
    display: flex;
    justify-content: center;
} */
.logo-image{
    width: 80px;
}
.logo {
    padding: 10px 10px;
}

.nav-items {
    padding: 0px 10px;
}

.nav-items > ul {
    display: flex;
    font-size: medium;
    list-style-type: none;
}

.nav-items >  ul > li {
    padding: 10px;
    margin: 10px;
    white-space: normal;
    /* word-wrap: break-word; */
}

.filter
{
    padding: 10px;
}

.filter-btn{
    padding: 10px;
    cursor: pointer;
}


.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    margin: 5px;
    padding: 5px;
    /* height: 50%; */
    /* margin: 10px; */
    width : 200px;
    /* height: 15%; */
    

    /* height: 300px; */
}
.res-card h4 {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


.res-card:hover{
 border: 1px solid black;
}
.res-img:hover{
    cursor: pointer;

}
.res-img{
    width: 100%;
    height:45%;
    /* height: 45%; */
}

